header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  background-color: var(--color-secondary);
  /* border-bottom: 1px solid var(--color-gray); */
}

.logo a {
  font-size: var(--font-size-h2);
  color: var(--color-primary);
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
 
  gap: var(--spacing-md);
}

nav a {
  color: var(--color-gra);
  text-decoration: none;
}

button {
  display: none; /* Hide on desktop */
  background: none;
  border: none;
  font-size: var(--font-size-body);
  color: var(--color-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    display: none; /* Hide on mobile */
  }
  button {
    display: block; /* Show on mobile */
  }
} 